<div class="post-archive">
  <ul class="archive">
    <li>
      <ul class="posts badgeList w100p">
        <% posts.each do |post| %>
          <li <% if @post && post.title == @post.title %> class="current"<% end %> >
            <%= link_to h(post.title), post_seo_path(@blog, post) %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
