<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Related Products", post: @post} %>

<% content_for :page_title do %>
  - Related Products
<% end %>

<%= simple_form_for(Spree::PostProduct.new, url: admin_post_products_path) do |f| %>

  <%= render :partial => 'add_product', locals: {f: f} %>
<% end %>

<div id="products-table-wrapper">
  <%= render :partial => "related_products_table", :locals => { :post => @post } %>
</div>

